@model UserRolesViewModel
@{
    ViewData["Title"] = "User Roles";
}


<!-- Jumbotron -->
<div class="p-1 text-center rounded bg-body-tertiary " style="margin-top:58px; ">
    <h1 class="mb-3"></h1>
    
</div>
<!-- Jumbotron -->


<form asp-action="UpdateRole" method="post" class="mx-auto pt-5" style="max-width: 700px;">
    <div class="card rounded shadow ">
        <div class="card-header text-center">
            Manage Role
        </div>

        <div class="card-body pl-5">
            
            <input asp-for="UserId" class="form-control" hidden />
            <h6>User : @Model.UserName</h6>
            <h6>Email : @Model.UserEmail</h6>
            
            <hr>
            
            <div>
                 @for (int i = 0; i < Model.UserRoles.Count; i++)
                {
                    <input asp-for="UserRoles[i].RoleName" class="form-control" hidden />
                    <div class="form-check">
                        <input asp-for="UserRoles[i].IsSelected" />
                        <label asp-for="UserRoles[i].IsSelected">@Model.UserRoles[i].RoleName</label>
                    </div>
                }
            </div>
               
         

            <div class="form-group float-end pt-1">
                <input type="submit" value="Save" class="btn btn-outline-success" />
                <a asp-action="GetAllUsers" class="btn btn-danger">Cancel</a>
            </div>
        </div>
    </div>
</form>

